@media only screen and (min-width:800px) and (max-width:1200px) {

    body {
        padding: 5px;
        display: grid;
        grid-template-columns: 8fr 4fr;
        grid-template-rows: 1fr 0.3fr auto 0.5fr;
        grid-template-areas: "header header" "nav nav" "article section" "footer footer";
        overflow: auto;
    }

    nav ul li{
        padding: 10px;
        font-size: 1.5rem;
        border: solid 2px var(--beige);
    }

    nav{
        background-color: var(--beige);
    }
    
    nav ul{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}