<aside class="nav-plates">
<h3>Ga snel naar:</h3>
<nav>
    <ul>
        <li class="plates-nav"><a asp-controller="Plates" asp-action="GetAllPlates">Alle platen</a></li>
            <li class="plates-nav"><a asp-controller="Plates" asp-action="GetAllNamePlates">Naamplaten</a></li>
            <li class="plates-nav"><a asp-controller="Plates" asp-action="GetAllPetLabels">Dierenlabels</a></li>
            <li class="plates-nav"><a asp-controller="Plates" asp-action="GetAllHouseNumberPlates">Huisnummers</a></li>
    </ul>
</nav>
</aside>