@model Tailor_MadeIndexViewModel


<article class="tailor-made">
    <h2>Gravures op maat</h2>
    <p>Je logo op een set glazen, een ketting met de naam van je vriend(in), een sleutelhanger met een persoonlijke boodschap, het kan allemaal met onze gepersonaliseerde gravures.</p>
    <p>Soms is standaard niet genoeg. Heb je zelf een idee of wil je es orgineel uit de hoek komen met een cadeautje. Bekijk dan zeker onze gravures op maat. Wij bieden zowel zelf voorwerpen aan met een tekst of foto naar keuze. Ofwel stuur je ons een voorwerp op die wij graveren met een tekst of afbeelding naar keuze.</p>
    <section>
        <h3>Ontdek ons aanbod aan personaliseerde voorwerpen</h3>
        <a asp-controller="Tailor_Mades" asp-action="GetAllPersonalizedObjects"><img asp-append-version="true" src="~/images/Tailor-Made-PersonalEngraving.jpg" alt="Tailor-Made" /><p class="tailor-made-paragraph">Naar ons aanbod</p></a>
    </section>
    <section>
        <h3>Personaliseer je eigen favoriete voorwerp met tekst of foto</h3>
        <img asp-append-version="true" src="~/images/Tailor-Made-PersonalEngraving2.jpg" alt="Tailor-Made" />
        <p class="tailor-made-paragraph">Klik hier om meer inspiratie op te doen</p>
    </section>
</article>