
<article>
<h2>Sorry, wat je zocht, bestaat niet meer!</h2>
<p><a asp-controller="Home" asp-action="Index" class="btn-outline-secondary">Keer terug naar onze Homepage...</a></p>
<img id="oops" src="/images/Oops.jpg" alt="Oops" name="Oops-page"/>
</article>